
*{
    letter-spacing: 0.2px;
    transition: all 0.3s;
}

body{ 
    margin: unset;
    background-color: var(--main-background);
}

.under-construction{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-highlight);
    height: 70vh;
    text-align: center;
}

.maintenance{
    text-align: center;
    font-family: SFMono-Regular;
    font-size: 14px;
    margin-top: 20px;
}

.desktop{
    text-align: center;
    color: var(--main-fade-text);
    font-size: 15px;
    margin-top: 15px;
    font-family: Calibre-Light;
}

.main-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* border: 1px solid red; */
    min-height: 100vh;
}

.nav-container{
    z-index:20;
    position: fixed;
    /* border: 1px solid blue; */
    height: 70px;
    left: 0;
    right: 0;
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 100;
    font-family: SFMono-Regular;
    background: var(--main-background);
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075), 0 6px 6px rgba(0,0,0,0.23);z-index: 3; */
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-img{
    color: var(--main-highlight);
    padding: 4px 10px;
    border-radius: 5%;
    font-size: 25px;
    border: 1px solid var(--main-highlight);
}

.nav-links{
    display: flex;
}

.navlink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    color: var(--main-super-fade);
    transition: color 0.1s !important;
}

.theme-changer{
    position: relative;
}

.theme-cog{
    font-size: 20px;
}

.theme-cog:hover{
    cursor: pointer;
}

.theme-btn{
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid white;
}


.themes-dropdown-open{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: -7.5px;
    top: 85%;
    height: 160px;
    width: 50px;
    border-radius: 4px;
    background: var(--main-background-fade);
    padding-top: 10px;
    /* transition: all 0.3s; */
}

.themes-dropdown-open:before{
    z-index:-1;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: -6px;
    background:  var(--main-background-fade);
    transform: rotate(45deg);
}

.themes-dropdown-close{
    display: none;
    opacity: 0;
    /* transition: all 0.3s; */
    pointer-events: none;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: -7.5px;
    top: 85%;
    height: 160px;
    width: 50px;
    border-radius: 4px;
    background: var(--main-background-fade);
    padding-top: 10px;
}

.navlink-sno{
    color: var(--main-highlight)
}

.navlink-resume{
    font-size: 13px;
    border: 1px solid var(--main-highlight);
    color: var(--main-highlight);
    height: 55%;
    margin: auto 20px;
    width: 80px;
    border-radius: 4px;
    background: var(--main-background);
    text-decoration: none;
    text-align: center;
    font-family: SFMono-Regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navlink-resume:hover{
    cursor: pointer;
    background: var(--main-background-dark);
}

.left-text{
    position: fixed;
    color: var(--main-super-fade-text);
    bottom: 0;
    left: 40px;
    display: flex;
    flex-direction: column; 
}

.short-line-left{
    border-color: var(--main-super-fade-text);
    height: 100px;
    margin: 0 auto;
}

.social-media-link{
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--main-super-fade-text);
    transition: all 0.1s !important;
}

.social-media-link:hover{
    color: var(--main-highlight);
    cursor: pointer;
    /* transform: scale(1.2); */
    transform: translate(0, -5px);
    transition: all 0.1s !important;
}


.right-text{
    position: fixed;
    color: var(--main-super-fade-text);
    display: flex;
    bottom: 120px;
    right: -120px;
    transform: rotate(90deg);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", monospace;
}

.email{
    color: var(--main-super-fade-text);
    text-decoration: none;
}

.email:hover{
    color: var(--main-highlight);
    transform: translate(-5px,0);
    /* transition: all 0.3s; */
}

.short-line-right{
    border-color: var(--main-super-fade-text);
    width: 150px;
    height: 0px;
    margin-left: 30px;
}


.landing-content-container{
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 150px;
}

.landing-content{
    width: 72%;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
}

.hi{
    color: var(--main-highlight);
    font-family: 'Roboto Mono', monospace;
}

.name{
    color: var(--main-super-fade);
    font-family: Calibre-Semibold;
    font-size: 80px;
    margin-top: 15px;
}

.build{
    font-family: Calibre-Semibold;
    font-size: 80px;
    margin-top: 0px;
    color: var(--main-super-fade-text);
}

.bio{
    font-size: 20px;
    font-family: Calibre-Light;
    color: var(--main-super-fade-text);
    width: 65%;
}

.get-in-touch{
    background: var(--main-background);
    border: 1px solid var(--main-highlight);
    border-radius: 4px;
    color: var(--main-highlight);
    padding: 15px;
    width: 150px;
    font-size: 14px;
    font-family: SFMono-Medium;
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
}

.about-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content{
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 0px 150px;
}


.section-desc{
    /* position: relative; */
    display: flex;
    color: var(--main-super-fade);
    font-size: 32px;
    font-family: Calibre-Medium;
}

/* .section-desc::before{ */
.section-no{
    content: '01.';
    margin-right: 10px;
    font-family: SFMono-Regular;
    font-size: 20px;
    line-height: 32px;
    color: var(--main-highlight);
}

.section-line{
    content: "";
    display: block;
    height: 1.5px;
    width: 300px;
    background-color: var(--main-fade-line);
    position: relative;
    top: 15px;
    margin-left: 20px;
}

.about-left{
    flex: 1;
    font-size: 20px;
    color: var(--main-super-fade-text);
    font-family: Calibre-Light;
    display: flex;
    flex-direction: column;
    
}

.theme-alert{
    color: var(--main-highlight);
    text-decoration: underline;
}

.theme-alert:hover{
    cursor: pointer;
}

.skills{
    display: flex;
}

.skills-left, .skills-right{
    flex: 1;
}

.skill-row{
    display: flex;
    padding: 7px;
}

.skill-desc{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7px;
    font-family: SFMono-Regular;
}

.color-caret{
    font-size: 14px;
    color: var(--main-highlight);
    margin-right:10px
}


.about-right{
    flex: 1;
    display: flex;
}

.my-img{
    position: relative;
    height: 300px;
    width: 300px;
    margin: 90px auto;
    border-radius: 4px;
}

.my-img:hover{
    cursor: pointer;
}

.sahil-img{
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 4px;
    filter: contrast(1.5);
}

.sahil-img:hover{
    width: 500px;
}

.img-filter{
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-img-fade);
    border-radius: 4px;
}

.img-filter:hover{
    background: unset;
    /* transition: all 0.3s; */
}

.my-img:hover .extra-frame{
    left: 10px;
    top: 10px;
    /* transition: all 0.3s; */
}
.my-img:hover .sahil-img{
    filter: contrast(1);
    /* transition: all 0.3s; */
}

.extra-frame{
    z-index: -1 !important;
    position: absolute;
    left: 20px;
    top: 20px;
    border: 2px solid var(--main-highlight);
    border-radius: 4px;
    height: 300px;
    width: 300px;
}


.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-row{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
}

.project-row:nth-child(2n){
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.project-img{
    position: relative;
}

.proj-filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-img-fade);
    z-index: 0;
    border-radius: 4px;
}

.proj-design{
    position: absolute;
    border-radius: 4px;
    height: 300px;
    width: 549px;
    top: 20px;
    left: 20px;
    right: 0;
    bottom: 0;
    border: 2px solid var(--main-highlight);
    z-index: -1;
}
.project-img:hover .proj-design{
    top: 10px;
    left: 10px;
    /* transition: all 0.5s; */
} 


.project-img:hover .proj-filter{
    background: unset;
    /* transition: all 0.5s; */
    cursor: pointer;
}

.site-img{
    height: 100%;
    width: 549px;
    border-radius: 4px;
}

.project-details{
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.featured{
    color: var(--main-highlight);
    font-size: 13px;
    font-family: SFMono-Regular;
    padding: 10px 0px;
}

.project-name{
    font-size: 28px;
    font-family: Calibre-Regular;
    color: var(--main-super-fade);
    padding-bottom: 20px;
}

.project-desc{
    background: var(--main-background-fade);
    color: var(--main-super-fade-text);
    font-family: Calibre-Regular;
    padding: 25px;
    font-size: 18px;
    min-width: 350px;
    width: 450px;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, var(--main-background-fade) 100%, var(--main-background-fade)  100%),
                        linear-gradient(to bottom, var(--main-background-fade)  100%, var(--main-background-fade)  100%),
                        linear-gradient(to right, var(--main-background-fade)  100%, var(--main-background-fade)  100%),
                        linear-gradient(to bottom, var(--main-background-fade)  100%, var(--main-background-fade)  100%);
    background-position: 0% 0%,100% 0,100% 100%,0 100%;
    background-size: 0% 1px, 1px 0%, 0% 1px, 1px 0%;
    
}

.project-desc:hover{
    cursor: pointer;
    transform: scale(1.05);
    /* transition: all 0.3s; */
	background-image:   linear-gradient(to right, var(--main-highlight) 100%, var(--main-highlight)  100%),
                        linear-gradient(to bottom, var(--main-highlight)  100%, var(--main-highlight)  100%),
                        linear-gradient(to right, var(--main-highlight)  100%, var(--main-highlight)  100%),
                        linear-gradient(to bottom, var(--main-highlight)  100%, var(--main-highlight)  100%);
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
    /* color: var(--main-super-fade); */
}

.project-row:nth-child(2n) > .project-details{
   text-align: right;
}
.project-row:nth-child(2n) > .project-details > div > .project-desc {
    margin-left: -100px;
}

.project-tech{
    display: flex;
    justify-content: flex-start;
    font: 13px SFMono-Regular;
    color: var(--main-super-fade-text);
}

.project-row:nth-child(2n) > .project-details > div > .project-tech {
    justify-content: flex-end;
}

.tech-item{
    padding: 10px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.whats-next{
    text-align: center;
    font-size: 16px;
    font-family: SFMono-Regular;
    color: var(--main-highlight);
    margin: 10px 0px 20px;
}

.get-in-touch2{
    text-align: center;
    font-size: 60px;
    font-family: Calibre-Semibold;
    color: var(--main-super-fade);
    margin-bottom: 20px;
}

.contact-txt{
    color: var(--main-super-fade-text);
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: Calibre-Light;
    width: 30%;
}

.hello-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.say-hello{
    padding: auto;
    background: var(--main-background);
    border: 1px solid var(--main-highlight);
    border-radius: 4px;
    color: var(--main-highlight);
    padding: 20px 28px;
    font-size: 14px;
    font-family: SFMono-Regular;
}


.footer-container{
    background:var(--main-background-dark);
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: SFMono-Regular;
    color: var(--main-fade-text);
}


.brittany{
    color: var(--main-highlight);
    text-decoration: none;
}

.brittany:hover{
    cursor: pointer;
    text-decoration: underline;
}

.burger{
    display: none;
}

@media all and (max-width: 768px) { 
    *{
        letter-spacing: 0px;
        transition: all 0.3s;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        /* border: 1px solid red; */
        min-height: 100vh;
        max-width: 100vw !important;
    }

    .freeze{
        height: 100vh;
        overflow:hidden;
        filter: blur(5px);
    }
    
    .blur{
        filter: blur(5px);
    }

    .burger{
        z-index:1000;
        display: flex;
        
    }
    /* .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before{
        background: var(--main-highlight);
        height: 2px;
        width: 30px;
    } */
    .nav-container{
        max-width: 100vw !important;
        padding: 0px 25px;
        height: 70px;
        position: fixed;
    }
    .nav-links{
        position: absolute; 
        /* border: 1px solid red; */
        height: 100vh;
        width: 80vw;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--main-nav-drawer);
        box-shadow: rgba(2, 12, 27, 0.7) -10px 0px 30px -15px;
    }

    .navDrawerMask{
        content: '';
        /* border: 1px solid red; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        /* background: rgba(0, 0, 0, 0.096); */
        z-index: -1;
        opacity: 1;
        transition: all 0.3s;
        pointer-events: none;
        overflow: hidden !important;
    }

    .navDrawerMask-disable{
        content: '';
        /* border: 1px solid red; */
        position: absolute;
        top: 0;
        left: -20vw;
        width: 100vw !important;
        height: 100vh !important;
        z-index: -1;
        opacity: 0;
        display: none;
        transition: all 0.3s;
    }

    .navlink > div {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-bottom: 30px;
        font-size: 16px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
        color: var(--main-super-fade-text);
    }
    
    .navlink-sno{
        font-size: 13px;
        margin-bottom: 8px;
    }

    .nav-links-mobile-hide{
        right: -80vw;
        box-shadow:unset;
    }

    .navlink-resume{
        height: unset;
        margin: 30px auto;
        background: unset;
        padding: 15px 18px;
    }

    .right-text, .left-text{
        display: none;
    }

    .landing-content-container{
        padding: unset;
        height: 100vh;
    }

    .landing-content{
        padding: 0px 25px;
        width: unset;
    }

    .hi{
        font-size: 13px;
    }

    .name, .build{
        font-size: 40px;
    }

    .bio{
        font-size: 18px;
        width: unset;
    }

    .about-container{
        height: unset;
        padding-top: 90px;
    }

    .about-content{
        padding: 0px 25px;
        width: unset;
        flex-wrap: wrap;
    }

    .about-left{
        font-size: 18px;
    }
    .about-right{
        margin-bottom: 150px;
    }
    .section-desc{
        font-size: 24px;
        width: 100%;
    }

    .section-name{
        /* flex:1; */
        text-align:center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 39px;
    }
    .section-line{
        width: 100%;
        flex: 1;
        line-height: unset;
        height: 1px;
    }

    .selected{
        border-left: unset;
        border-bottom: 3px solid var(--main-highlight);

    }


    .projects-container{
        width: unset;
        padding: 0px 25px;
        margin: unset !important;
        padding-top: 90px;
    }

    .projects-content{
        width: 100%;
    }

    .project-row{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        padding: 15px;
        
    }
    
    .project-row:nth-child(2n){
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .site-img{
        width: 100%;
        height: auto;
    }

    .proj-design{
        width: 100%;
        height: 100%;
        left: 7px;
        top: 7px;
    }

    .project-details{
        width: unset;
        margin-top: 25px;
    }

    .project-desc{
        margin-left: unset !important;
        min-width: unset;
        width: unset;
    }

    .whats-next{
        font-size: 14px;
    }

    .get-in-touch2{
        font-size: 40px;
    }

    .contact-txt{
        width: unset;
        padding: 0px 25px;
    }
}