.workex-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workex-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    min-height: 50vh;
}

.workex-split{
    display: flex;
}

.workex-left{
    flex: 2 2 20%;
}

.workex-link{
    font-size: 13px;
    font-family: SFMono-Regular;
    padding: 20px;
    border-left: 2px solid var(--main-fade-line);
    color: var(--main-fade-text);
}

.workex-link:hover{cursor: pointer}

.selected{
    border-left: 3px solid var(--main-highlight);
    color: var(--main-highlight);
    transition: all 0.35s;
}

.workex-right{
    flex: 8 8 80%;
}

.workex-heading{
    display: flex;
    font-family: Calibre-Regular;
    font-size: 22px;
    padding: 5px;
}


.title{
    color: var(--main-super-fade);
}

.company{
    color: var(--main-highlight);
}

.workex-date{
    font-family: SFMono-Regular;
    font-size: 13px;
    color: var(--main-super-fade-text);
    padding: 5px;
}

.workex-desc{
    color: var(--main-super-fade-text);
    padding: 5px;
    font-size: 20px;
    width: 90%;
    font-family: Calibre-Light;
}

.workex-desc-split{
    display: flex;
    padding: 10px 0px;
}

@media all and (max-width: 768px) { 

    .workex-container{
        height: unset !important;
        width: 100vw;
    }

    .workex-content{
        padding: 0px 25px;
        width: unset !important;
        margin: unset !important;
    }

    .workex-split{
        flex-direction: column;
    }

    .workex-left{
        display: flex;
        margin-bottom: 20px;
    }

    .workex-link{
        flex: 1;
        border-left: unset;
        border-bottom: 2px solid var(--main-fade-line);
        color: var(--main-fade-text);
    }

    .selected{
        border-bottom: 3px solid var(--main-highlight);
        color: var(--main-highlight);
        transition: all 0.35s;
    }
    
    .title{
        font-size: 22px;
        font-family: Calibre-Regular;
    }
    
    .company{
        font-size: 22px;
    }

    .workex-date{
        font-family: SFMono-Regular;
        font-size: 13px;
        color: var(--main-super-fade-text);
        padding: 5px;
    }

    .workex-desc{
        font-size: 18px;
        margin-bottom: 150px;
    }

}