.workex-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workex-content{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    min-height: 50vh;
}

.workex-split{
    display: flex;
}

.workex-left{
    flex: 2 2 20%;
}

.workex-link{
    font-size: 13px;
    font-family: SFMono-Regular;
    padding: 20px;
    border-left: 2px solid var(--main-fade-line);
    margin-left: -2px;
    color: var(--main-fade-text);
}

.workex-link:hover{cursor: pointer}

.selected{
    border-left: 2px solid var(--main-highlight);
    color: var(--main-highlight);
    transition: all 0.6s;
}

.workex-right{
    flex: 8 8 80%;
}

.workex-heading{
    display: flex;
    font-family: Calibre-Regular;
    font-size: 22px;
    padding: 5px;
}


.title{
    color: var(--main-super-fade);
}

.company{
    color: var(--main-highlight);
}

.workex-date{
    font-family: SFMono-Regular;
    font-size: 13px;
    color: var(--main-super-fade-text);
    padding: 5px;
}

.workex-desc{
    color: var(--main-super-fade-text);
    padding: 5px;
    font-size: 18px;
    width: 90%;
    font-family: Calibre-Regular;
}

.workex-desc-split{
    display: flex;
    padding: 10px 0px;
}
