/* Calibre ---------------------- */
@font-face {
    font-family: Calibre-Light;
    font-style: normal;
    src: url(./assets/fonts/Calibre/Calibre-Light.woff2) format('woff2');
}
@font-face {
    font-family: Calibre-Regular;
    font-style: normal;
    src: url(./assets/fonts/Calibre/Calibre-Regular.woff2) format('woff2');
}
@font-face {
    font-family: Calibre-Medium;
    font-style: normal;
    src: url(./assets/fonts/Calibre/Calibre-Medium.woff2) format('woff2');
}
@font-face {
    font-family: Calibre-Semibold;
    font-style: normal;
    src: url(./assets/fonts/Calibre/Calibre-Semibold.woff2) format('woff2');
}

/* SFMono  ---------------------- */
@font-face {
    font-family: SFMono-Regular;
    font-style: normal;
    src: url(./assets/fonts/SFMono/SFMono-Regular.woff2) format('woff2');
}
@font-face {
    font-family: SFMono-Medium;
    font-style: normal;
    src: url(./assets/fonts/SFMono/SFMono-Medium.woff2) format('woff2');
}

/* Orignial Theme ---------------*/
/* :root{
    --main-background: #0a192f;
    --main-background-fade: #172a45;
    --main-background-dark: #020c1b;
    --main-highlight: #64ffda;
    --main-fade-text: #606a86;
    --main-super-fade-text: #8892b0;
    --main-super-fade: #e6f1ff;
    --main-fade-line: #2d3952;
    --main-img-fade: #0ba8834d;
} */


/* Purple-pink ------------ */
/* :root{
    --main-background: #180f42;
    --main-background-fade: #291f58;
    --main-background-dark: #020c1b;
    --main-highlight: #acf5ff;
    --main-fade-text: #deedee;
    --main-super-fade-text: #d5e3e7;
    --main-super-fade: #23c3f3;
    --main-fade-line: #336b7c;
    --main-img-fade: #1d92a75b;
} */


/* Blueish-white ------------ */
/* :root{
    --main-background: #eeeeee;
    --main-background-fade: #f5f5f5;
    --main-background-dark: #d8d8d8;
    --main-highlight: #10608f;
    --main-fade-text: #5a606b;
    --main-super-fade-text: #24323d;
    --main-super-fade: #285174;
    --main-fade-line: #909cb3;
    --main-img-fade: #88aac28f;
} */


/* red ------- */
/* :root{
    --main-background: #000000;
    --main-background-fade: #a33434;
background-dark: #240404;
    --main-highlight: #00720f;
    --main-fade-text: #7fbd7f;
    --main-super-fade-text: #f0f9ff;
    --main-super-fade: #36bd41;
    --main-fade-line: #2d5230;
    --main-img-fade: #439e3b65;
} */

button:focus{
    outline: none;
}